Using the same nyc-ticket-violation dataset, let’s assume that tickets can be dismissed if the license plate, state, and/or street name are all there but without requiring the make of car. Remove rows that are missing one or more of these. How many rows remain? Assuming $100/ticket, how much money would the city lose as a result of this

In [1]:
#let assume that tickets can be dismissed if the license plate,state and /or streetname are all there but without requiring the
#make of car 
#remove the missing rows
#how many rows remain
#assuming $100/ticket, how much money would the city lose as a result

In [1]:
import pandas as pd
import numpy as np 

nyc_violations_df = pd.read_csv('nyc-parking-violations-2020.csv',
                     usecols=['Plate ID', 'Registration State', 
                        'Street Name'])

nyc_violations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Plate ID            50000 non-null  object
 1   Registration State  50000 non-null  object
 2   Street Name         49990 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB

In [60]:
nyc_violations_df.head(200)

    Plate ID Registration State           Street Name
0    KGK6659                 NY  WB ATLANTIC AVE @ SH
1    L5232HY                 TN   Rockaway Beach Blvd
2     BPMN76                 FL            W 113th St
3    57387MJ                 NY             W 33rd St
4     M81KFJ                 NJ  WB FOSTER AVE @ E 18
..       ...                ...                   ...
195  DMS6358                 PA       Westchester Ave
196  CFD8890                 NY   EB 73RD AVE @ 198TH
197  KFZ5274                 NY  WB NORTHERN BLVD @ 4
198  KFV5473                 NY              99th Ave
199   K79KLT                 NJ             W 26th St

[200 rows x 3 columns]

In [61]:
nyc_violations_df.isnull().sum()

Plate ID               0
Registration State     0
Street Name           10
dtype: int64

In [62]:
nyc_violations_df['Plate ID'].value_counts()

BLANKPLATE    34
82547PC        7
96087MA        7
31404MG        6
31410MG        6
              ..
JLZ3128        1
GFTX18         1
V670133        1
9TP398         1
AW74165        1
Name: Plate ID, Length: 47883, dtype: int64

In [63]:
nyc_violations_df.replace('BlackPlate', np.nan,inplace = True)

In [64]:

# Drop rows if the rows in 'subset' columns contain an NaN

new_violations_df=nyc_violations_df.dropna(subset=['Plate ID','Registration State','Street Name'])

In [65]:
# Number of rows that have been removed from new dataset
del_rows=nyc_violations_df.shape[0]-new_violations_df.shape[0]

In [67]:
#How many remaining rows
#How many remaining rows
rem_rows = nyc_violations_df.shape[0]-del_rows

print(f'Number of deleted rows is {(del_rows):,}')
print(f'Number of remaining rows is {(rem_rows):,}')
print(f'Money lost by New York due to misssing data is ${(rem_rows*100):,.2f}')

Number of deleted rows is 10
Number of remaining rows is 49,990
Money lost by New York due to misssing data is $4,999,000.00